backend/Library/src/main/resources/livres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.lib.com/library/soap"
           xmlns:tns="http://www.lib.com/library/soap"
           elementFormDefault="qualified">

    <!-- Livre -->
    <xs:complexType name="Livre">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="titre" type="xs:string"/>
            <xs:element name="auteur" type="xs:string"/>
            <xs:element name="disponible" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- AjouterLivreRequest -->
    <xs:element name="AjouterLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titre" type="xs:string"/>
                <xs:element name="auteur" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- AjouterLivreResponse -->
    <xs:element name="AjouterLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livre" type="tns:Livre"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ModifierLivreRequest -->
    <xs:element name="ModifierLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="titre" type="xs:string"/>
                <xs:element name="auteur" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ModifierLivreResponse -->
    <xs:element name="ModifierLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livre" type="tns:Livre"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SupprimerLivreRequest -->
    <xs:element name="SupprimerLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SupprimerLivreResponse -->
    <xs:element name="SupprimerLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultat" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- PreterLivreRequest -->
    <xs:element name="PreterLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- PreterLivreResponse -->
    <xs:element name="PreterLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livre" type="tns:Livre"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RetournerLivreRequest -->
    <xs:element name="RetournerLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RetournerLivreResponse -->
    <xs:element name="RetournerLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livre" type="tns:Livre"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
